#toggle {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    padding-top: 5rem;
    padding-right: 5rem;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 1;
}